<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-row>
    <ion-col size="4" class="first-column">
      <div>
        <ion-card>
          <ion-item (click)="onEditProfile(profile.id)">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Edit Profile</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        <ion-card>
          <ion-item (click)="onClickViewPayments()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Pending payments</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="8" size-lg="8"> 
      <ion-card>
        <ion-item (click)="onClickVerifyEmail(profile.email)">
          <ion-chip color="tertiary">
            <ion-label color="dark"><ion-card-title>Resend verification email</ion-card-title></ion-label>
          </ion-chip>
        </ion-item>                    
      </ion-card>
      <app-profile-item [profile]="profile"></app-profile-item>
      
    </ion-col>
  </ion-row>  
</ion-content>
