<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="title">{{ isLogin ? 'Login' : 'Signup'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background overlay padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="first-column">
          <div>     
            <ion-card class="background-class">               
              <ion-list>
                <ion-item>
                  <span><small>Pokémon Yellow</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Mega Man X</small></span>
                </ion-item>
                <ion-item>
                  <span><small>The Legend of Zelda</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Pac-Man</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Super Mario World</small></span>
                </ion-item>
              </ion-list>                             
            </ion-card>       
            <ion-card *ngIf="!isLogin">
              <ion-item>
                <ion-infinite-scroll>                      
                  <ion-content  class="terms-class">
                    <ion-list>
                      <ion-item>
                        <span><small>Pokémon Yellow</small></span>
                      </ion-item>
                      <ion-item>
                        <span><small>Mega Man X</small></span>
                      </ion-item>
                      <ion-item>
                        <span><small>The Legend of Zelda</small></span>
                      </ion-item>
                      <ion-item>
                        <span><small>Pac-Man</small></span>
                      </ion-item>
                      <ion-item>
                        <span><small>Super Mario World</small></span>
                      </ion-item>
                    </ion-list>
                  </ion-content>                    
                </ion-infinite-scroll>
              </ion-item>                    
            </ion-card>
            <ion-card *ngIf="!isLogin">              
              <ion-item>
                <ion-label><small class="blue-class">I agree to terms and conditions</small></ion-label>
                <ion-checkbox slot="end" [(ngModel)]="terms" #termsCtrl="ngModel" name="terms"></ion-checkbox>
              </ion-item>                                  
            </ion-card>           
          </div>
        </ion-col>
        <ion-col size-sm="12" size-md="8" size-lg="8">
          <div [ngClass]="{isLogin: true, 'second': true, 'third': false}">
            <ion-card class="hide-class">               
              <ion-list>
                <ion-item>
                  <span><small>Pokémon Yellow</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Mega Man X</small></span>
                </ion-item>
                <ion-item>
                  <span><small>The Legend of Zelda</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Pac-Man</small></span>
                </ion-item>
                <ion-item>
                  <span><small>Super Mario World</small></span>
                </ion-item>
              </ion-list>                             
            </ion-card>
          </div>
          
          <ion-list>
            <ion-item *ngIf="!isLogin">
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" ngModel name="firstname" 
              required minlength="2"
              #firstnameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!isLogin">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" ngModel name="lastname" 
              required minlength="2"
              #lastnameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" ngModel name="email" 
              required email
              #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item line="none" *ngIf="!emailCtrl.valid && emailCtrl.touched">
              <ion-label>Should be a valid email address</ion-label>
            </ion-item>      
            <ion-item *ngIf="!isLogin">
              <ion-label>Country</ion-label>
              <ion-select #countryCtrl="ngModel" ngModel name="country" cancelText="Cancel" okText="Okay!">
                <ion-select-option value="United Kingdom">United Kingdom</ion-select-option>
                <ion-select-option value="United States">United States</ion-select-option>                            
                <ion-select-option value="others">Others</ion-select-option>            
              </ion-select>
            </ion-item>      
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password"
               required minlength="6"
               #passwordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item line="none" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
              <ion-label>Should be a at least 6 characters long</ion-label>
            </ion-item>
            <ion-item *ngIf="!isLogin">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" ngModel name="confirmpassword"
               required minlength="6"
               #confirmPasswordCtrl="ngModel"></ion-input>
            </ion-item>            
          </ion-list>
          <ion-row class="hide-class">
            <ion-col>
              <div>            
                <ion-card *ngIf="!isLogin">
                  <ion-item>
                    <ion-infinite-scroll>                      
                      <ion-content  class="terms-class">
                        <ion-list>
                          <ion-item>
                            <span><small>Pokémon Yellow</small></span>
                          </ion-item>
                          <ion-item>
                            <span><small>Mega Man X</small></span>
                          </ion-item>
                          <ion-item>
                            <span><small>The Legend of Zelda</small></span>
                          </ion-item>
                          <ion-item>
                            <span><small>Pac-Man</small></span>
                          </ion-item>
                          <ion-item>
                            <span><small>Super Mario World</small></span>
                          </ion-item>
                        </ion-list>
                      </ion-content>                    
                    </ion-infinite-scroll>
                  </ion-item>                    
                </ion-card>
                <ion-card *ngIf="!isLogin">              
                  <ion-item>
                    <ion-label><small class="blue-class">I agree to terms and conditions</small></ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="terms" #termsCtrl="ngModel" name="terms"></ion-checkbox>
                  </ion-item>                                  
                </ion-card>           
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-button type="button" color="primary" class="b1"
              fill="clear" expand="block"
              (click)="onSwitchAuthMode()">Switch to {{ isLogin ? 'Signup' : 'Login' }}</ion-button>
              <ion-button type="submit" color="primary" class="b2"
              expand="block"
              [disabled]="!f.valid">
                {{ isLogin ? 'Login' : 'Signup' }}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
              <ion-card-subtitle><a href="/request-reset">Reset Password</a></ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-col>        
      </ion-row>      
    </ion-grid>  
    <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div>  
  </form> 
</ion-content>

