.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-icon {
  font-size: 1.5rem;
  
}

ion-badge {
    margin: 3px;
}

ion-col.first-column {
    background-color: cyan;
    @media only screen and (max-width: 768px) {
        display: none;        
    }
}
.terms-class {
    height: 200px;
}
ion-card.background-class {
    color: darkgoldenrod;
    background-color: rgb(8, 0, 255);
}

ion-button.buttonRight {
    float: right;
}

ion-col.second-column {
  min-width: 310px;
}

.odd {
    background-color: blue; 
  }
.even {
    background-color: grey;
  }
.blue-class {
    color: blue;
}

.hide-class {
    display: none;
    
    @media only screen and (max-width: 768px) {
        display: block;        
    }
}

a {
    text-decoration: none;
}