ion-toolbar {
  --background: url('../../assets/bridge_pay_background2.jpg'); 
  color: white;
}

ion-content {
  --background: url('../../assets/bridge_pay_background2.jpg'); 
  color: white;
}

i {
  color: white;
}
