<ion-list>
  <ion-item>
    <span>
      <small>
      <span><strong>PRIVACY POLICY</strong></span><br><br>
      <span><i>Last updated March 30, 2020</i></span><br><br>

      Thank you for choosing to be part of our community at Bridgepay Systems Limited. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at admin@myglowstar.com.
      When you visit our mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Apps and our services.
      This privacy policy applies to all information collected through our mobile or web applications, ("Apps"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Services").
      Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>TABLE OF CONTENTS</span><br><br>
        
        <span>1. WHAT INFORMATION DO WE COLLECT?</span><br>
        <span>2. HOW DO WE USE YOUR INFORMATION?</span><br>
        <span>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span><br>
        <span>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span><br>
        <span>5. DO WE USE GOOGLE MAPS?</span><br>
        <span>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</span><br>
        <span>7. HOW LONG DO WE KEEP YOUR INFORMATION?</span><br>
        <span>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</span><br>
        <span>9. DO WE COLLECT INFORMATION FROM MINORS?</span><br>
        <span>10. WHAT ARE YOUR PRIVACY RIGHTS?</span><br>
        <span>11. DATA BREACH</span><br>
        <span>12. CONTROLS FOR DO-NOT-TRACK FEATURES</span><br>
        <span>13. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span><br>
        <span>14. DO WE MAKE UPDATES TO THIS POLICY?</span><br><br>
        <span>15. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span><br><br>
        
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>2. HOW DO WE USE YOUR INFORMATION?</span><br><br>
        
        In Short:  We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.
        We use personal information collected via our Apps for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
        We use the information we collect or receive:
          <br><span>• To facilitate account creation and logon process. </span><br>
          <span>• To post testimonials. We post testimonials on our Apps that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at admin@myglowstar.com  and be sure to include your name, testimonial location, and contact information.</span><br>
          <span>• Administer prize draws and competitions. We may use your information to administer prize draws and competitions when you elect to participate in competitions.</span><br>
          <span>• Request Feedback. We may use your information to request feedback and to contact you about your use of our Apps.</span><br>
          <span>• To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.</span><br>
          <span>• To enforce our terms, conditions and policies for Business Purposes, Legal Reasons and Contractual.</span><br>
          <span>• To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</span><br>
          <span>• To manage user accounts. We may use your information for the purposes of managing our account and keeping it in working order.</span><br>                               
          <span>• To deliver services to the user. We may use your information to provide you with the requested service.</span><br>
          <span>• To respond to user inquiries/offer support to users. We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.</span><br>
          <span>• For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Apps, products, marketing and your experience. We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.</span><br><br>
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span><br><br>
        
        <span>In Short:  We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.
        We may process or share data based on the following legal basis:</span><br>
            <span>• Consent: We may process your data if you have given us specific consent to use your personal information in a specific purpose.</span><br>


            <span>• Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests.</span><br>


            <span>• Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</span><br>


            <span>• Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</span><br>


            <span>• Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</span><br>
        <span>More specifically, we may need to process your data or share your personal information in the following situations:</span><br>
        <span>  Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</span><br>
        <span>  Third-Party Advertisers. We may use third-party advertising companies to serve ads when you visit the Apps. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</span><br>
        <span>  Other Users. When you share personal information (for example, by posting comments, contributions or other content to the Apps) or otherwise interact with public areas of the Apps, such personal information may be viewed by all users and may be publicly distributed outside the Apps in perpetuity. If you interact with other users of our Apps and register through a social network (such as Facebook), your contacts on the social network will see your name, profile photo, and descriptions of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Apps, and view your profile.</span><br><br>
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span><br><br>
        
        In Short:  We may use cookies and other tracking technologies to collect and store your information.
        We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. 
        Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>5. DO WE USE GOOGLE MAPS?</span><br><br>
        
        We don't use google maps or geolocation on this app.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</span><br><br>
        
        In Short:  We do not use social logins on this app.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>7. HOW LONG DO WE KEEP YOUR INFORMATION?</span><br><br>
        
        In Short:  We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.
        We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than 90 days past the termination of the user's account.
        When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, 
        if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</span><br><br>
        
        In Short:  We aim to protect your personal information through a system of organizational and technical security measures.
        We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. 
        Although we will do our best to protect your personal information, transmission of personal information to and from our Apps is at your own risk. You should only access the services within a secure environment.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>9. DO WE COLLECT INFORMATION FROM MINORS?</span><br><br>
        
        In Short:  We do not knowingly collect data from or market to children under 18 years of age.
        We do not knowingly solicit data from or market to children under 18 years of age. By using the Apps, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Apps. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, 
        please contact us admin@myglowstar.com 
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <br><span>10. WHAT ARE YOUR PRIVACY RIGHTS?</span><br><br>
        
        <span>In Short:  In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time.</span><br>
        <span>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws.</span><br>
         <span>These may include the right</span><br> 
         <span>(i) to request access and obtain a copy of your personal information,</span><br> 
         <span>(ii) to request rectification or erasure;</span><br>
         <span>(iii) to restrict the processing of your personal information; and </span><br>
         <span>(iv) if applicable, to data portability.</span><br><br> 
         <span>In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws.</span><br>
        <span>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</span><br>
        <span>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</span><br>
        <span>If you have questions or comments about your privacy rights, you may email us at through the 'contact us' section of the app.</span><br>

        <br><span><strong>Account Information</strong></span><br>
        <span>If you would at any time like to review or change the information in your account or terminate your account, you can:</span><br>
           <span> ■  Log into your account settings and update your user account.</span><br>
        <span>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</span><br>
        <span>Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Apps. To opt-out of interest-based advertising by advertisers on our Apps visit http://www.aboutads.info/choices/.</span><br>
        <span>Opting out of email marketing: You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:</span><br>
            <span>■  Note your preferences when you register an account with the site.</span><br>
           <span> ■  Access your account settings and update preferences.</span><br>
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>11. DATA BREACH</span><br><br>
        
        A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of personal information. 
        You will be notified about data breaches when Bridgepay Systems Limited believes you are likely to be at risk or serious harm. 
        For example, a data breach may be likely to result in serious financial harm or harm to your mental or physical well-being. 
        In the event that  Bridgepay Systems Limited becomes aware of a security breach which has resulted or may result in unauthorized access, use or disclosure of personal information  
        Bridgepay Systems Limited  will promptly investigate the matter and notify the applicable Supervisory Authority not later than 72 hours after having become aware of it, 
        unless the personal data breach is unlikely to result in a risk to the rights and freedoms of natural persons.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>12. CONTROLS FOR DO-NOT-TRACK FEATURES</span><br><br>
        
        Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to 
        signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for 
        recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that 
        automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, 
        we will inform you about that practice in a revised version of this privacy policy.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>13. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span><br><br>
        
        In Short:  Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.
        California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request 
        and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, 
        please submit your request in writing to us using the contact information provided below.
        If you are under 18 years of age, reside in California, and have a registered account with the Apps, 
        you have the right to request removal of unwanted data that you publicly post on the Apps. To request removal of such data, 
        please contact us using the contact information provided below, and include the email address associated with your account and a 
        statement that you reside in California. We will make sure the data is not publicly displayed on the Apps, but please be aware that the data may not 
        be completely or comprehensively removed from our systems.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>14. DO WE MAKE UPDATES TO THIS POLICY?</span><br><br>
        
        In Short:  Yes, we will update this policy as necessary to stay compliant with relevant laws.
        We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be 
        effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of 
        such changes or by directly sending you a notification. 
        We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span>15. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span><br><br>
        
        <span>If you have questions or comments about this policy, you may email us at dataprotection@stridessolutions.com or admin@myglowstar.com or through the 'contact us' section on the app or by post to:</span><br><br>
        <span>Strides IT Solutions Limited,</span><br>
        <span>248</span><br>
        <span>Sunderland Road,</span><br>
        <span>Gateshead, NE83ED</span><br>
        <span>United Kingdom</span><br><br>
      </small>
    </span>
  </ion-item>
  <ion-item>
    <span>
      <small>
        <span><strong> HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</strong></span><br><br>
       
        <span>Based on the laws of some countries, you may have the right to request access to the personal information we collect from you, change that information, 
        or delete it in some circumstances. To request to review, update, or delete your personal information, please submit a request  through the 'contact us' section of the app. 
        We will respond to your request within 30 days.</span><br><br>
        <span><i>This privacy policy was created using Termly’s Privacy Policy Generator.</i></span>
      </small>
    </span>
  </ion-item>
</ion-list>
