 
<ion-list lines="inset">
  <ion-buttons slot="primary">
    <ion-avatar slot="start" class="avatar">
      <ion-img [src]="profile.profile_pic.length > 50 ? profile.profile_pic : '../../../assets/icon/name-icon.png'"></ion-img>       
    </ion-avatar>
    <ion-button [routerLink]="[
      '/', 'edit-profile',
      profile.id]">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-button>  
  </ion-buttons>
  
  <ion-item>
    <ion-label>
      First Name:
    </ion-label>
    <ion-text>{{profile.firstname}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      Last Name:
    </ion-label>
    <ion-text>{{profile.lastname}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      Email:
    </ion-label>
    <ion-text>{{profile.email}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      Country:
    </ion-label>
    <span><ion-avatar><img src="{{profile.flag}}"></ion-avatar></span><ion-text>{{profile.country}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      Phone:
    </ion-label>
    <ion-text>{{profile.phone}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      Status:
    </ion-label>
    <ion-text>{{profile.status === 3 ? 'Admin' : 'Basic user'}}</ion-text>
  </ion-item>
</ion-list>
