<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-button [routerLink]="[
        '/', 'tabs', 'add-product']">
        <ion-icon name="add"></ion-icon>
      </ion-button>        
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-row>
    <ion-col size="4" class="first-column">
      <div>
        <ion-card *ngIf="isLoggedIn">
          <ion-item (click)="onCreateItem()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Create New Item</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        <ion-card (click)="onClickViewPayments()">          
          <ion-chip color="tertiary">
            <ion-label color="dark"><ion-card-title>Pending payments</ion-card-title></ion-label>
          </ion-chip>                              
        </ion-card>
        
        <!-- <ion-card *ngFor="let storyTitle of loadedStoryTitles">          
          <ion-item (click)="onSearchStoryFilter(storyTitle)">
            <ion-chip color="primary">
              <ion-label color="dark">{{storyTitle}}</ion-label>
            </ion-chip>
          </ion-item>          
        </ion-card> -->
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="8" size-lg="8"> 
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col *ngIf="userName" size-sm="4">
            <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
          </ion-col>
          
          <ion-col size-sm="4">
            <ion-card-subtitle color="primary">Refresh search</ion-card-subtitle> 
            <ion-toggle (ionChange)="refreshFilter()"></ion-toggle>     
          </ion-col>
        </ion-row>        
      </ion-grid>
      <form [formGroup]="form">
        <ion-row>
          <ion-col size-sm="12">
            <ion-item>
              <ion-label position="stacked">Enter the ID of item to search</ion-label>
              <ion-buttons slot="end">
                <ion-button (click)="onSearchProductCode()" color="primary">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
              </ion-buttons>

              <ion-input formControlName="itemId" minlength="1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
          
      <ion-list>
        <ion-item-sliding *ngFor="let item of loadedItems">
          <app-item [item]="item"></app-item>             
          
          <ion-item-options side="start">
            <ion-item-option color="secondary" (click)="onEdit(item.id, slidingItem)">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>            
      </ion-list>
    </ion-col>
  </ion-row>  
</ion-content>
