<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-row>
    <ion-col size="4" class="first-column">
      <div>
        <ion-card *ngIf="isLoggedIn">
          <ion-item (click)="onCreateItem()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Create New Item</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        <ion-card>
          <ion-item (click)="onClickViewPayments()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Pending payments</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="8" size-lg="8"> 
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col *ngIf="userName" size-sm="4">
            <ion-card-subtitle color="primary">Hi, <i>{{userName | titlecase}}!</i></ion-card-subtitle> 
          </ion-col>
          
          <ion-col size-sm="4">
            <ion-card-subtitle color="primary">Refresh search</ion-card-subtitle> 
            <ion-toggle (ionChange)="refreshFilter()"></ion-toggle>     
          </ion-col>
        </ion-row>        
      </ion-grid>
      <form [formGroup]="form">
        <ion-row>
          <ion-col size-sm="12">
            <ion-item>
              <ion-label position="stacked">Enter the ID of item to search</ion-label>
              <ion-buttons slot="end">
                <ion-button (click)="onSearchItem()" color="primary">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
              </ion-buttons>

              <ion-input formControlName="itemId" minlength="1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
          
      <ion-list>
        <ion-item-sliding *ngFor="let item of loadedItems">
          <app-item [item]="item"></app-item>             
          
          <ion-item-options side="start">
            <ion-item-option color="secondary">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding> 
                   
      </ion-list>
      <ion-row>
        <ion-col size="9">
          <ion-chip button="true" outline color="tertiary" (click)="prevPage()" *ngIf="!noMorePrev">
            <ion-label>Prev</ion-label>
          </ion-chip>         
        </ion-col>
        <ion-col size="3">
          <ion-chip outline color="tertiary" class="buttonRight" (click)="nextPage()" *ngIf="!noMoreNext">
            <ion-label>Next</ion-label>
          </ion-chip>         
        </ion-col>          
      </ion-row>
    </ion-col>
  </ion-row>  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title size="small" class="centralize"><small>Bridgepay Systems Ltd. Email: admin@bridgepaysystems.com, Phone: +44 (0)3332244129</small></ion-title>
  </ion-toolbar>
</ion-footer>
