<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding background">
  <ion-row>
    <ion-col size="4" class="first-column">
      <div>
        <ion-card>
          <ion-item (click)="onClearCache()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Clear Cache</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        <ion-card>
          <ion-item (click)="onClickViewPayments()">
            <ion-chip color="tertiary">
              <ion-label color="dark"><ion-card-title>Pending payments</ion-card-title></ion-label>
            </ion-chip>
          </ion-item>                    
        </ion-card>
        
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="8" size-lg="8"> 
      <form [formGroup]="form">
        <ion-row>
          <ion-col size-sm="12">           

            <ion-item>
              <ion-label position="stacked">Enter a Payment ID to confirm a transaction</ion-label>
              <ion-buttons slot="end">
                <ion-button (click)="onSearchTransaction()" color="primary">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
              </ion-buttons>

              <ion-input formControlName="paymentId" minlength="1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>

      <ion-list *ngIf="isPaid">
        
          <ion-card class="card-payment">
          
          <ion-card-header>
            <ion-card-title>Payment status: PAID</ion-card-title>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Payment Amount: {{loadedPayment.currency | uppercase }}{{' '}}{{ loadedPayment.itemPrice }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>Payment ID: {{ loadedPayment.hashId }}</ion-card-content>
          <ion-card-content>Payment owner: {{ loadedPayment.sellerEmail }}</ion-card-content>
          <ion-card-content>Payer Name: {{ loadedPayment.buyerName }}</ion-card-content>
          <ion-card-content>Payer Email: {{ loadedPayment.buyerEmail }}</ion-card-content>
          <ion-card-content>Payment method used: {{ loadedPayment.paymentOption | titlecase }}</ion-card-content>
          <ion-card-content>Description: {{ loadedPayment.itemDescription }}</ion-card-content>
          <ion-card-content>Date of Payment Initiation: {{ loadedPayment.paymentDate | date }}</ion-card-content>
          
          </ion-card>
        
      </ion-list>
      
    </ion-col>
  </ion-row>  
</ion-content>
