.card-payment {
    
    margin-bottom: 20px;
}

ion-button.buttonRight {
    float: right;
}

ion-col.first-column {
    
    @media only screen and (max-width: 768px) {
        display: none;        
    }
}
.second-column {
    min-width: 310px;
}

ion-row.first-column {
    display: block;

    @media only screen and (min-width: 576px) {
        display: none;        
    }
       
}

ion-col.toHide {
    
    @media only screen and (max-width: 576px) {
        display: none;        
    }   
}

.modal-css {
    --button-color: chartreuse;
    background: chartreuse;
}
   
ion-card-title {
    font-family: 'Courier New';
    font-weight: bolder;

}

ion-card-subtitle {
    font-family: 'Courier New';
}
ion-content {
    --background: url('../../assets/bridge_pay_background5.jpeg');    
}
    
ion-footer {
  ion-toolbar.background{
    --background: url('../../assets/bridge_pay_background2.jpg'); 
    color: white;
  }  
}




