<ion-header translucent>
  
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" fill="solid" (click)="onCancelModal()">{{ closeButtonText }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>      
      <ion-label>
        <ion-card-title>Transaction Summary</ion-card-title>
        <table>
          <tr>
            <td>
              Payment Commission & charges
            </td>
            <td>
              {{currency | uppercase}}{{' '}}{{commission | number : '.2-2'}}
            </td>
          </tr>
          <tr>
            <td>
              Item Cost
            </td>
            <td>
              {{currency | uppercase}}{{' '}}{{itemPrice | number : '.2-2'}}
            </td>
          </tr>
          <tr>
            <td>
              <ion-card-title>Total Amount to Pay</ion-card-title>
            </td>
            <td>
              <ion-card-title>{{currency | uppercase}}{{' '}}{{amount | number : '.2-2'}}</ion-card-title>
            </td>
          </tr>
        </table>
      </ion-label>
    </ion-item>
  </ion-list>
    
  <div>   
    <ion-row *ngIf="!showSuccess">                
      <ion-col>                  
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>                  
      </ion-col>
    </ion-row>
          
  </div>
</ion-content>